h1 {
    text-align: center;
}

#picturesize {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#picturesize2 {
    max-width: 342px;
    margin-left: auto;
    margin-right: auto;
}

.cardbackgroundcolor {
    background-color: #f7f7f7;
}
